<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 必须与 Mapper 接口的全限定名完全一致 -->
<mapper namespace="com.zhuyue.clockin.modules.punch.mapper.PunchMapper">
    <!-- 多参数时 keyProperty 必须写成 参数名.属性名 -->
    <!-- 创建打卡记录：useGeneratedKeys 把数据库自增主键回写到 Punch.id -->
    <!-- keyColumn 指定数据库字段名从这个字段中写入 Punch.id -->
    <insert id="createRecord" useGeneratedKeys="true" keyProperty="punch.id" keyColumn="id">
        INSERT INTO clock_in_record(user_id, clock_in_time, clock_out_time, remark)
        VALUES(#{userId}, #{punch.clockInTime}, #{punch.clockOutTime}, #{punch.remark})
    </insert>
</mapper>