<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 必须与 Mapper 接口的全限定名完全一致 -->
<mapper namespace="com.zhuyue.clockin.modules.user.mapper.UserMapper">
    <!-- 定义映射关系：type指定实体类 -->
    <!-- 根据ID查询用户，id与接口方法名一致，resultType与返回值类型一致 -->
    <select id="selectByUserId" resultType="com.zhuyue.clockin.modules.user.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
    <!-- 根据userName查询用户，resultType与返回值类型一致 -->
    <select id="selectByUserName" resultType="com.zhuyue.clockin.modules.user.entity.User">
        SELECT * FROM user WHERE user_name = #{userName}
    </select>

    <!-- 创建用户：useGeneratedKeys 把数据库自增主键回写到 User.id -->
    <insert id="createUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user(user_name, password, sex, age) VALUES(#{userName}, #{password}, #{sex}, #{age})
    </insert>

    <!-- 更新用户头像 -->
    <update id="updateAvatarByUserId">
        UPDATE user SET avatar_url = #{avatarUrl} WHERE id = #{id}
    </update>
</mapper>